version: 2
updates:
  - package-ecosystem: "cargo"
    directory: "/"
    schedule:
      interval: "monthly"
    cooldown:
      default-days: 14  
    groups:
      objc2:
        patterns:
          - objc2
          - objc2-app-kit
          - objc2-foundation
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "monthly"
    cooldown:
      default-days: 14  
  - package-ecosystem: "rust-toolchain"
    directory: "/"
    schedule:
      interval: "monthly"
