name: CI

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  actionlint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false
          sparse-checkout: /.github/workflows/*.yml
          sparse-checkout-cone-mode: false
      - uses: hirofumi/run-actionlint@867dde26404c6bd411c11ac6ecb5e0f4c0e9ac1e # v1.7.8
  cargo:
    runs-on: macos-latest
    env:
      RUSTFLAGS: -Dwarnings
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false
      - run: rustup component add clippy rustfmt
      - run: cargo version
      - run: cargo fmt --check
      - run: cargo check
      - run: cargo clippy --tests
      - run: cargo test
